:root{
    --brand-green: #00856F;
    --brand-green-light: #DCE9E2;
    --brand-green-light-02: #F7F9F9;
    --brand-beige: #FFFAF1;
    --brand-green-hover: #00453A;
    --gray-headline: #212529;
    --gray-paragraph: #6F6F6F;
    --white: #EDEDED;

    --font-dafault: 'DM Sans'
}
